#TotoroPic {
    height: 100px;
  }

  #NavBar {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  }

  #NavWords {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  }

  .MoviePosters {
    display: flex;
    align-content: center;
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100px;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 410px;
}

.list-group {
  display: flex;
  justify-content: center;
  align-items: center;
}